.container {
    text-align: center;
}

.form-wrapper {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f1f1;
}
:global(.dark) .form-wrapper {
  background-color: #171717;
}
.form-title {
    padding: 15px;
    color:#454545;
}

:global(.dark) .form-title {
    color:#9b9b9b;
}

.form-container {
    padding: 20px;
}

.email-input {
    padding: 8px;
    /* border: 1px solid #3e3e3e; */
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fff;
}

.email-input::placeholder {
    color: #5a5a5a;
}
.email-input::placeholder {
    color: #5a5a5a;
}

:global(.dark) .email-input {
    background-color: #29292a;
}

.subscribe-button {
    padding: 8px 16px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    animation: anime 16s linear infinite;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.subscribe-button:hover {
    filter: brightness(110%);
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}