@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 42%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --radius: 0.5rem;
  }

  .dark, :root.dark, :root[class~='dark'] {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 55%;
    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14%;
    --input: 0 0% 14%;
    --ring: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground !important;
    font-family: var(--font-sans);
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  footer {
    @apply bg-background text-foreground !important;
    font-family: var(--font-sans);
  }

  h1 {
    @apply tracking-tight font-mono leading-tight;
    font-family: var(--font-sans);
  }

  h2 {
    @apply tracking-tight;
    font-family: var(--font-sans);
  }
}

.social-svg {
  border-radius: 10px !important;
}


.error-marker {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3);
  z-index: 20;
}

.custom-btn {
  background-color: rgba(150, 150, 150, 0.2); /* transparent gray background */
  border-radius: 10px; /* rounded corners */
  padding: 8px 16px; /* optional: adjust padding as needed */
  border: none; /* optional: remove border */
  cursor: pointer; /* optional: change cursor on hover */
}

.custom-btn:hover {
  background-color: rgba(150, 150, 150, 0.4); /* darker background on hover */
}
