.container {
  margin: -130px auto 0;
  padding: 50px 20px 80px;
  max-width: 1000px;
  width: 100%;
}

.panel {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

:global(.dark) .panel {
  --tw-bg-opacity: 1;
  background-color: rgba(23, 23, 23, var(--tw-bg-opacity));
  color: hsl(204 0% 70%);
}

.feature-table {
  /* box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02); */
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .feature-table {
    flex-direction: row;
  }
}

@media (max-width: 900px) {
  .container {
    margin: -130px auto 0;
    padding: 30px 40px 50px;
  }
}

.feature-table * {
  text-align: center;
}

.feature-plan {
  --tw-border-opacity: 1;
  border-bottom: 1px solid #424242;
  padding: 25px;
}

.feature-plan:last-child {
  border-bottom: none;
}

.feature-plan a svg {
  transition: all 0.5s ease;
}

.feature-plan a:hover svg {
  --tw-svg-opacity: 1;
  color: #951089;
  transform: translateY(5px);
}

.feature-plan a:hover .feature-header {
  --tw-svg-opacity: 1;
  /* color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)60%/var(--tw-svg-opacity)); */
  color: #951089;
}

.feature-plan a:focus-visible svg {
  --tw-svg-opacity: 1;
  color: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 60% / var(--tw-svg-opacity)
  );
  transform: translateY(5px);
}

@media (min-width: 900px) {
  .feature-plan {
    border-bottom: none;
    border-right: 1px solid #fdfdfd;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  :global(.dark) .feature-plan {
    --tw-border-opacity: 1;
    border-right: 1px solid #424242;
  }

  .feature-plan:last-child {
    border-right: none;
  }
}

.feature-plan svg {
  margin: 25px auto;
  color: hsl(0, 0%, 30%);
  max-width: 100%;
  height: 100px;
  width: 100px;
}

:global(.dark) .feature-plan svg {
  color: hsl(0 0% 70%);
}

.feature-header {
  color: #585858;
  font-weight: 600;
  letter-spacing: 1px;
}

:global(.dark) .feature-header {
  color: hsl(0 0% 70%);
}

.feature-desc {
  --tw-text-opacity: 1;
  color: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 50% / var(--tw-text-opacity)
  );
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.feature-desc-item {
  border-top: 1px solid #fdfdfd;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  color: #414141;
}

:global(.dark) .feature-desc-item {
  --tw-border-opacity: 1;
  border-top: 1px solid rgba(38, 38, 38, var(--tw-border-opacity));
}

.feature-desc-item:last-child {
  border-bottom: 1px solid #fdfdfd;
}

:global(.dark) .feature-desc-item:last-child {
  --tw-border-opacity: 1;
  border-bottom: 1px solid rgba(38, 38, 38, var(--tw-border-opacity));
}
