.root {
  position: relative;
}

.overlay {
  position: relative;
  background-color: #121212;
}

.grid {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 600px;
  overflow: hidden;
  perspective: 450px;
}

.gridfade {
  z-index: 11;
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(ellipse at 50% 50%, rgba(255, 254, 254, 0) 0%, #ffffff 80%);
}

:global(.dark) .gridfade {
  background: radial-gradient(ellipse at 50% 50%, rgba(17, 17, 17, 0) 0%, #121212 80%) !important;
}

.gridlines {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to right, rgba(0, 233, 250, 0.6) 1px, transparent 0),
    linear-gradient(to bottom, rgba(0, 233, 250, 0.6) 1px, transparent 0);
  background-size: 45px 30px;
  background-repeat: repeat;
  transform-origin: 100% 0 0;
  animation: play 25s linear infinite;
}

:global(.dark) .gridlines {
  background-image: linear-gradient(to right, rgba(0, 233, 250, 0.3) 1px, transparent 0),
    linear-gradient(to bottom, rgba(0, 233, 250, 0.3) 1px, transparent 0);
}

@keyframes play {
  0% {
    transform: rotateX(45deg) translateY(-50%);
  }
  100% {
    transform: rotateX(45deg) translateY(0);
  }
}

.content {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  max-width: 90rem;
  text-align: center;
  padding-bottom: 150px;
}

.headline {
  margin-top: 4rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -0.5em;
  font-size: 3.125rem;
  font-size: min(4rem, max(8vw, 2.8rem));
  font-weight: 700;
  font-feature-settings: initial;
  line-height: 1.1;
  position: relative;
  z-index: -3;
  background: radial-gradient(ellipse, rgba(255, 255, 255) 52%, transparent 70%);
}
:global(.dark) .headline {
  --tw-bg-opacity: 1;
  background: radial-gradient(ellipse, rgba(18, 18, 18, var(--tw-bg-opacity)) 52%, transparent 70%);
}

.headline::before {
  content: '';
  position: absolute;
  top: -130px;
  bottom: -120px;
  left: -60px;
  right: -60px;
  z-index: -3;
  background: radial-gradient(ellipse, rgba(255, 255, 255) 52%, transparent 70%);
}

:global(.dark) .headline::before {
  top: -130px;
  bottom: -120px;
  left: -60px;
  right: -60px;
  background: radial-gradient(ellipse, rgba(18, 18, 18, var(--tw-bg-opacity)) 52%, transparent 70%);
}

@media (max-width: 809px) {
  .headline {
    margin-bottom: auto;
  }
}

.headlineOne {
  font-size: 125%;
  display: inline;
}

.headlineTwo {
  display: block;
  margin-bottom: 8px;
  margin-top: 1rem;
  font-size: 50%;
}

.headlineThree {
  display: block;
  font-size: 50%;
}

.head {
  color: hsl(0 0% 10%);
  position: relative;
  display: inline-flex;
  align-items: flex-end;
}
:global(.dark) .head {
  color: hsl(0 0% 100%);
}

.head > span:first-of-type {
  display: inline-block;
  line-height: 0.8;
}

.head > span:last-of-type {
  position: absolute;
  left: 98%;
  bottom: 46%;
  opacity: 0.75;
}

.head > span:nth-of-type(2) {
  position: relative;
}

.pops {
  position: absolute;
  inset: 0;
  --tw-text-opacity: 1;
  background: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 40% / var(--tw-text-opacity)
  );
  mix-blend-mode: lighten;
  filter: brightness(3.5);
  overflow: hidden;
  pointer-events: none;
}
:global(.dark) .pops {
  filter: brightness(2);
  mix-blend-mode: darken;
  background-color: transparent;
}

@keyframes pop {
  50% {
    background-size: 100% 100%;
  }
}

.pop {
  height: var(--size, 100%);
  aspect-ratio: 1;
  background: radial-gradient(hsl(var(--h) 100% 70%) 5%, transparent 100%);
  position: absolute;
  display: inline-block;
  animation: scale var(--s, 2s) var(--d, 0s) infinite alternate;
  left: var(--x, 0);
  top: var(--y, 0);
  scale: 0;
  translate: -50% -50%;
  filter: blur(2px);
  mix-blend-mode: multiply;
}

.pop:nth-of-type(1) {
  --x: 10%;
  --y: 25%;
  --h: 277;
  --s2: 6;
  --d: -0.25s;
  --s: 6s;
}

.pop:nth-of-type(2) {
  --x: 50%;
  --y: 45%;
  --h: 140;
  --s2: 5;
  --d: -0.75s;
  --s: 5s;
}
.pop:nth-of-type(3) {
  --x: 65%;
  --y: 75%;
  --h: 210;
  --s2: 3;
  --d: -0.5s;
  --s: 3s;
}
.pop:nth-of-type(4) {
  --x: 90%;
  --y: 5%;
  --h: 320;
  --s2: 2;
  --d: -1s;
  --s: 2s;
}
.pop:nth-of-type(5) {
  --x: 15%;
  --y: 100%;
  --h: 40;
  --s2: 3;
  --d: -1s;
  --s: 2s;
}

@keyframes scale {
  to {
    scale: var(--s2);
  }
}

.subtitle {
  display: block;
  margin-top: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  color: hsl(0, 0%, 17%);
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.1rem));
  font-feature-settings: initial;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
}
.subtitle br {
  display: none;

  @media (min-width: 810px) {
    display: block;
  }
}

:global(.dark) .subtitle {
  color: hsl(0, 0%, 75%);
}

.actions {
  margin-top: 1.6em;
  margin-bottom: 1.4em;
  display: block;
  align-items: left;
  justify-content: left;
  font-size: 1rem;
  font-size: min(1rem, max(3.5vw, 1.1rem));
  font-weight: 500;
}

a.cta {
  margin-right: 0.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  --tw-text-opacity: 1;
  background: #ff15c9;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;
}

:global(.dark) a.cta {
  background: #951089;
  color: white;
}

a.cta span {
  display: inline-block;
  transition: all 0.2s ease;
}

a.cta:hover {
  --tw-text-opacity: 1;
  box-shadow: 0 5px 30px 0px #ff15c9;
  filter: brightness(1.05);
}

:global(.dark) a.cta:hover {
  box-shadow: 0 5px 30px 0px #951089;
}

a.cta:hover span {
  transform: translateX(3px);
}

a.cta:active {
  box-shadow: 0 1px 3px #47474738;
  filter: brightness(0.95);
}
a.cta:active span {
  transform: translateX(5px);
}

a.cta:focus-visible {
  outline: 2px solid hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
  outline-offset: 2px;
}

a.cta:focus-visible span {
  transform: translateX(3px);
}

a.secondaryAction {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  /* box-shadow: hsl(0 0% 25%) 0 0 0 1px inset; */
  background: #00a8be;
  color: #ffffff;
  /* text-shadow: 0 1px 1px #000; */
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;
}
a.secondaryAction:hover {
  --tw-text-opacity: 1;
  box-shadow: 0 5px 30px 0px #00a8be;
  filter: brightness(1.05);
}

a.secondaryAction:active {
  box-shadow: hsl(0 0% 25%) 0 0 0 1px inset;
}

a.secondaryAction:focus-visible {
  outline: 2px solid hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
  outline-offset: 2px;
}

.links {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin-right: 0.25em;
  padding: 0 0.5em;
  background: rgba(255, 255, 255, 0.5);
  color: hsl(0, 0%, 50%);
  font-size: 1.2rem;
  font-size: min(1.2rem, max(3.5vw, 1rem));
  font-weight: 400;
  line-height: 1.5em;
  white-space: nowrap;
}

.links a strong {
  color: hsl(0, 0%, 35%);
  font-weight: 400;
  transition: all 0.2s ease;
}

.links a:last-child {
  margin-right: 0;
}

.links a:hover strong {
  color: hsl(0, 0%, 20%);
}

:global(.dark) .links a {
  background: rgba(17, 17, 17, 0.5);
  color: hsl(0, 0%, 40%);
}

:global(.dark) .links a strong {
  color: hsl(0, 0%, 60%);
}

:global(.dark) .links a:hover strong {
  color: hsl(0, 0%, 70%);
}
