/* make nav more blurry */
.nextra-nav-container-blur {
  background: transparent !important;
}

:is(
    html[class~='dark'] .nextra-nav-container-blur,
    html[class~='dark'] .nextra-nav-container-blur
  ) {
  background: transparent !important;
}

.nextra-toc > div > :last-child {
  fill-opacity: 50;
}

/* smaller search bar */
.nextra-search {
  width: 10rem;
}

.nextra-search input {
  border-radius: 0.25rem;
}

/* Fix logo overflowing */
.nextra-nav-container > nav > a:first-child {
  flex-shrink: 0;
}

/* Fix nested lists */
li > ol,
li > ul {
  margin-top: 0 !important;
}

/* No dark background of videos */
media-outlet {
  background-color: transparent !important;
}

/* More gap between h2 in articles */
article.nextra-body-typesetting-article h2 {
  margin-top: 6rem;
}

svg .nodeLabel,
svg .edgeLabel {
  font-family: monospace;
}

/* Fix callout list */
.nextra-callout ul {
  margin-top: 0;
}


/* Default to light theme */
html .image-light-theme {
  display: block;
}

html .image-dark-theme {
  display: none;
}

/* Switch to dark theme */
html.dark .image-light-theme {
  display: none;
}

html.dark .image-dark-theme {
  display: block;
}